<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

<link rel="stylesheet" th:href="@{/css/style.css}" />

<title th:text="${title}">Base html</title>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!--  
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	-->
		
		<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>

</head>
<body>


	<!-- navbar -->

	<nav class=" fixed-top navbar navbar-expand-lg navbar-dark  bg-primary">
	
		<a class="navbar-brand" href="#">Employee Manager</a>
		
		
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			
			
			<ul class="navbar-nav ml-auto text-uppercase">
				
				<li class="nav-item active"><a th:href="@{/}" class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				
			
			
				<li class="nav-item"><a class="nav-link " href="#"
				
					tabindex="-1" aria-disabled="true"><span th:text="${user.name}"></span></a></li>
					
					
					
				<li class="nav-item"><a class="nav-link " th:href="@{/logout}" href="#"
					tabindex="-1" aria-disabled="true">Logout</a></li>
					
					
					
			</ul>
			
			
			
		</div>
	</nav>
	<!-- 
	END navbar -->
	
	
	<!-- sidebar  -->
	<div class="sidebar mt-2">
	
		<span onclick="toggleSidebar()" class="crossBtn">&times;</span>
		
		<a id="home-link" href="#" th:href="@{/user/index}" class="item active"> <i class="fas fa-home"></i> Home</a>
		<a id="contacts-link" href="#" th:href="@{/user/show-contacts/0}" class="item"><i class="fas fa-id-card-alt"></i> View Contacts</a>
		<a id="add-link" href="#" th:href="@{/user/add-contact}" class="item"><i class="fas fa-pencil-alt"></i> Add Contact</a>
		<a id="profile-link" href="#" th:href="@{/user/profile}" class="item"><i class="fas fa-user-circle"></i> Your Profile </a>
		<a id="settings-link" href="#" th:href="@{/user/settings}" class="item"> <i class="fas fa-cogs"></i> Settings</a>
		<a href="#" th:href="@{/logout}" class="item"><i class="fas fa-sign-out-alt"></i> Logout</a>
		<a href="#" th:href="@{/about}" class="item"><i class="fa fa-info-circle"></i> about</a>
		<div class="divider"></div>
		
	</div>
	
	<!-- END sidebar -->
	
	<!--   Content area -->
	
	<div class="content mt-5">
	
		<i onclick="toggleSidebar()" class="fas fa-bars m-3"></i>
		
		
		   <!-- message box  -->
		   <div th:if="${session.message}" class="container">
		   
		   	  <div th:classappend="${'alert-'+session.message.type}" class="alert  text-center" role="alert">
  				
  				<span th:text="${session.message.content}"></span>
  				
			</div>
			
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			
		   </div>
	
	
			<div th:replace="${content}"></div>
	
	
	</div>
	
	<!-- END Content area  -->
	<!-- Optional JavaScript -->


	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
		
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		
		<script>
		
		function deleteContact(cid)
		{
			
			swal({
				  title: "Are you sure?",
				  text: "you want to delete this contact..",
				  icon: "warning",
				  buttons: true,
				  dangerMode: true,
				})
				.then((willDelete) => {
				  if (willDelete) {
				   
					  
					  window.location="/user/delete/"+cid;
					  
				  } else {
				    swal("Your contact is safe !!");
				  }
				});
			
		}
		
		
		</script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		<script th:src="@{/js/script.js}"></script>
</body>
</html>