<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>profile_page</title>
</head>
<body>
	<section>
		
		<div class="container">
		
			<div class="card">
				
				<div class="card-body">
				
				<div class="container text-center">
					<img src="" style="height: 200px; width: 200px;" class="my_profile_picture" th:src="@{'/img/'+${user.imageUrl}}" alt="profile photo" />
			   
				</div>   
				
				<h1 class="text-center mt-3" th:text="${user.name}"></h1>
				
				<table class="table text-center">
					  <thead>
					    <tr>
					      <th scope="col">#USER_ID</th>
					      <th scope="col">USER <span th:text="${user.id}"></span></th>
					      
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">Email</th>
					      <td><span th:text="${user.email}"></span></td>
					     
					    </tr>
					    
					    
					      <tr>
					      <th scope="row">Role</th>
					      <td><span th:text="${user.role}"></span></td>
					     
					    </tr>
					    
					      <tr>
					      <th scope="row">Acccount Active</th>
					      <td><span th:text="${user.enabled}"></span></td>
					     
					    </tr>
					    
					     </tr>
					    
					      <tr>
					      <th scope="row">About you</th>
					      <td><span th:text="${user.about}"></span></td>
					     
					    </tr>
					    
					  </tbody>
					  
					  
				
					  
					  
					</table>
				
				</div>
				
			</div>
		
		</div>
		
		  <script>
        $(document).ready(() => {
          $(".item").removeClass("active");
          $("#profile-link").addClass("active");
        });
      </script>
		
	</section>
</body>
</html>