<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>About_page</title>
</head>
<body>
 <p style="background-image: url('../static/img/banner.jpg');"> 
	<section>
	
	<h2 style="text-align:center"><strong>About Page</strong></h2>
  
	
		
		<h2 style="text-align:center">This is a Smart Employee Manager to manage peoples Contact list.</h2>
		<h2 style="text-align:center"> Any individual can creates a account and save his team/employee Contacts </h2>
	</section>
</body>
</html>